@charset "UTF-8";@charset "UTF-8";

.background-img {
    background-image: url(../img/img-principal.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.redes-sociais {
    position: relative;
    text-align: left;
    padding-left: 20px;
    top: 30px;
    letter-spacing: 10px;
}
.fa-user, .fa-whatsapp-square, .fa-envelope-open, .fa-map-marker-alt, .fa-mobile-alt, .fa-facebook, .fa-youtube {
    font-size: 24px;
    text-align: left;
    color: rgb(9, 80, 2);
}
.contate {
    position: relative;
    text-align: left;
    padding-left: 20px;
    top: 20px;
    
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 30px;
    top: 235px;
    font-size: 20px;
    color: white;
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 30px;
    top: 230px;
    font-size: 14px;
    color: white;
    
}
#frase {
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-left: 20px;
    top: 390px;
    font-size: 14px;
    color: rgb(1, 48, 9);
}
@media (min-width: 768px) {
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 250px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 250px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 230px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 230px; 
}
}
@media (min-width:1024px) {
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 150px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 150px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 150px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 150px; 
}
}
@media (min-width:1024px) {
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 570px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 570px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 570px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 570px; 
}  
}
