@charset "UTF-8";@charset "UTF-8";

.background-img {
    background-image: url(../img/img-principal.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: -35px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #017c16;
  font-weight: 800;
  line-height: 5px;
  transition: color 0.3s ease;
}
.clique {
    color: #017c16;
    font-weight: 900;
}

#menuToggle a:hover{
  color: rgb(245, 242, 241);
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(9, 80, 2)
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgba(243, 225, 152, 0.76);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 16px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

.redes-sociais {
    position: relative;
    text-align: left;
    padding-left: 20px;
    top: 30px;
    letter-spacing: 10px;
}
.fa-user, .fa-whatsapp-square, .fa-envelope-open, .fa-map-marker-alt, .fa-mobile-alt, .fa-facebook, .fa-youtube, .fa-flickr {
    font-size: 18px;
    text-align: left;
    color: rgb(9, 80, 2);
}
.contate {
    position: relative;
    text-align: left;
    padding-left: 20px;
    top: 20px;
    
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 30px;
    top: 190px;
    font-size: 20px;
    color: white;
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 30px;
    top: 188px;
    font-size: 14px;
    color: white;
    
}
.seta {
  position: relative;
  text-align: left;
  padding-left: 70px;
  padding-top: 20px;
}
#frase {
    position: relative;
    text-align: left;
    top: 350px;
    font-size: 14px;
    color: rgb(1, 48, 9);
}
@media (min-width: 768px) {
  #menuToggle {
    top: -35px;
    left: 200px;
   
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -150px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(243, 225, 152, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .seta {
    padding-left: 270px;
    padding-top: 20px;
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 250px;
       
  }
.contate {
    position: relative;
    text-align: left;
    padding-left: 250px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 230px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 230px; 
}
#frase {
  position: relative;
  text-align: left;
  top: 350px;
  padding-left: 70px;
  font-size: 14px;
  color: rgb(1, 48, 9);
}
}
@media (min-width:1024px) {
  #menu {
    position: absolute;
    width: 300px;
    margin: -150px 0 0 -400px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(243, 225, 152, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 150px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 150px;
}

#menuToggle {
  top: -35px;
  left: 390px;
 
}
.seta {
  padding-left: 430px;
  padding-top: 20px;
}
.identidade {

  
  padding-left: 130px;
 
  
}
.identidade1 {
  position: relative;
  text-align: left;
  padding-left: 230px; 
}
}
@media (min-width:1024px) {
  #menu {
    position: absolute;
    width: 300px;
    margin: -150px 0 0 -580px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(243, 225, 152, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menuToggle {
    top: -35px;
    left: 350px;
   
  }
  .seta {
    padding-left: 390px;
    padding-top: 20px;
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 250px;
       
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 570px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 570px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 370px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 370px; 
}  
}
@media (min-width:1440px) {
  #menu {
    position: absolute;
    width: 300px;
    margin: -150px 0 0 -580px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(243, 225, 152, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menuToggle {
    top: -35px;
    left: 560px;
   
  }
  .seta {
    padding-left: 600px;
    padding-top: 20px;
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 250px;
       
  }
    .redes-sociais {
        position: relative;
        text-align: left;
        padding-left: 570px;
       
    }
.contate {
    position: relative;
    text-align: left;
    padding-left: 570px;
}
.identidade {
    position: relative;
    text-align: left;
    padding-left: 570px;
   
    
}
.identidade1 {
    position: relative;
    text-align: left;
    padding-left: 570px; 
}  
}
